### Eclipse ###

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*.class
*~.nib
local.properties
.settings/
.loadpath
.recommenders

#Eclipse Core
.project

#External tool builders
.externalToolBuilders/

#Locally stored "Eclipse launch configurations"
*.launch

#PyDev specific (Python IDE for Eclipse)
*.pydevproject

#CDT-specific (C/C++ Develpment Tools)
.cproject

#JDT-specific (Eclpise Java Development Tools)
.classpath

# Java annotation processor (APT)
.factprypath

#PDT-specific (PHP Devepment Tools)
.buildpath

#sbteclipse plugin
.target

#Tern plugin
.tern-prject

#TeXlipse plugin
.textlipse

#STS (Spring Tool Suite)
.sprinfBeans

#Code Recommenders
.recommenders/
/target/
/build/
